@font-face {
  font-family: Gagalin;
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: Lifehack;
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: Ubuntu;
  src: url("../fonts/ubuntu-b-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: Ubuntu;
  src: url("../fonts/ubuntu-light-webfont.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: Ubuntu;
  src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: Ubuntu;
  src: url("../fonts/ubuntu-regular-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative; }

.main-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.container {
  width: 940px;
  margin: 0 auto; }

.section {
  height: 100vh;
  min-width: 940px;
  min-height: 650px; }

.order {
  display: inline-block;
  min-width: 6.125rem;
  padding: 10px 17px;
  border-radius: 5px;
  background-color: #e25028;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  border: none;
  cursor: pointer; }
  .order:focus {
    border: none;
    outline: none; }
  .order:hover {
    background-color: #cb411b; }

.points {
  position: fixed;
  top: 14%;
  right: 3%;
  z-index: 10; }

.points__list {
  list-style: none;
  width: 100%; }

.points__item {
  padding: 6px 8px 9px; }

.points__link {
  display: block;
  background-color: white;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: relative;
  cursor: pointer; }

.points__link_active:before {
  content: "";
  display: block;
  border: 1px solid white;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  cursor: default;
  top: -5px;
  left: -5px; }

.points__link:hover:before {
  content: "";
  display: block;
  border: 1px solid white;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: -5px; }

.footer {
  min-height: 58px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background: url("../img/background/footer-bg.jpg") no-repeat center center;
  background-size: cover;
  padding: 10px 70px; }
  .footer__address {
    font-size: 14px;
    font-weight: 300;
    color: #fff; }
  .footer__phone-number {
    font-weight: bold;
    font-size: 14px;
    color: #e25028;
    text-decoration: none; }

.top {
  background-image: url("../img/background/video-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 7px;
  padding-left: 4px; }

.header__logo {
  margin-right: auto; }

.header__logo-link {
  display: inline-block; }

.header__btn {
  width: 97px;
  padding-left: 6px; }

.navigation {
  margin-right: 10px; }

.navigation__list {
  margin: 0;
  padding: 0; }

.navigation__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap; }
  .navigation__item:after {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #fff;
    margin: 0 14px; }
  .navigation__item:last-child:after {
    display: none; }

.navigation__link {
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .navigation__link:hover {
    color: #f9b43b; }

.main-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  height: 100%; }

.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 17%; }

.content__img, .content__about {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 32px; }

.content__img {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  padding-left: 23px; }

.content__about {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 13px; }

.content__about-title {
  color: #f9b43b;
  font-family: 'Gagalin';
  font-size: 72px;
  font-weight: 400;
  line-height: 1.42;
  padding-top: 64px;
  margin-bottom: 5px;
  -webkit-font-smoothing: antialiased; }

.content__about-text {
  color: #ffffff;
  font-family: 'Lifehack';
  font-size: 65px;
  font-weight: 500;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.arrow-next {
  position: absolute;
  top: 90%;
  left: 50%; }
  .arrow-next:hover .arrow-pic {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }

.best {
  background: url("../img/background/best-bg.jpg") no-repeat center center;
  background-size: cover;
  min-height: 650px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.best-container {
  padding-bottom: 110px; }

.best__title {
  color: #2f3234;
  font-family: 'Gagalin';
  font-size: 72px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 62px;
  padding-left: 14px; }

.best__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.best__item {
  width: 33%;
  margin-left: 17px; }

.best__pic {
  max-height: 90px;
  margin-bottom: 12px; }
  .best__pic.best__pic_meat {
    fill: #e25028; }
  .best__pic.best__pic_hand {
    fill: #f9b43b; }
  .best__pic.best__pic_natural {
    fill: #8ac03e;
    max-height: 75px;
    margin-bottom: 25px; }

.best__item-title {
  color: #2f3234;
  font-family: 'Lifehack';
  font-size: 24px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased; }

.best__item-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 25px; }

.reviews {
  width: 100%;
  min-height: 650px;
  height: 100vh; }

.reviews__list {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.reviews__item {
  width: 25%;
  height: 50vh;
  position: relative;
  -webkit-filter: grayscale(1);
  filter: grayscale(1); }

.reviews__photo {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%; }

.reviews__comment {
  display: none;
  padding: 20px 33px 20px 20px; }

.reviews__item:hover .reviews__comment {
  display: block;
  position: absolute;
  top: 46px;
  z-index: 9999;
  left: 23px;
  padding: 0;
  width: 319px; }

.reviews__item:hover .reviews__photo {
  -webkit-filter: brightness(50%);
  filter: brightness(50%); }

.reviews__comment-name {
  font-family: 'Gagalin';
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 20px;
  display: block; }

.reviews__comment-text {
  font-family: 'Ubuntu';
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 17px;
  display: block;
  width: 70%;
  line-height: 24px;
  font-weight: 300; }

.reviews__comment-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-family: Ubuntu;
  font-size: 13px;
  font-weight: 500;
  padding: 11px 15px 11px;
  border-radius: 5px;
  background-color: #2f3234;
  cursor: pointer; }
  .reviews__comment-link:hover {
    background-color: #1f2122; }

.team {
  background-image: url("../img/background/team-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.team__right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 525px;
  background: rgba(49, 52, 54, 0.93);
  text-align: center; }

.team__content {
  width: 70%; }

.team-title {
  color: #f9b43b;
  text-transform: uppercase;
  font-family: 'Gagalin';
  font-size: 72px;
  font-weight: normal;
  margin-bottom: 59px;
  padding-top: 67px;
  padding-left: 80px; }

.team-acco__title {
  font-family: 'Gagalin';
  font-size: 14px;
  font-weight: normal;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
  margin-left: 75px;
  cursor: pointer; }
  .team-acco__title:before {
    content: "";
    width: 0px;
    height: 0px;
    border: 7px solid transparent;
    border-top-color: #f9b43b;
    border-bottom: none;
    margin-right: 10px; }

.team-acco__content {
  padding-top: 10px;
  overflow: hidden;
  height: 0; }

.team-acco__item {
  margin-bottom: 20px; }
  .team-acco__item:hover .team-acco__content {
    height: 7rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .team-acco__item:hover .team-acco__title {
    color: #f9b43b;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  .team-acco__item:hover .team-acco__title:before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  .team-acco__item.active .team-acco__content {
    height: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px; }
  .team-acco__item.active .team-acco__title {
    color: #f9b43b; }
    .team-acco__item.active .team-acco__title:before {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }

.team-acco__about-position {
  color: #fff;
  font-family: 'Ubuntu';
  font-weight: bold;
  font-size: 14px;
  text-align: left;
  margin-bottom: 14px; }

.team-acco__about-text {
  color: #fff;
  font-weight: 300;
  max-width: 72%;
  text-align: left;
  font-size: 14px;
  line-height: 24px; }

.team-acco__img {
  padding-left: 18%; }

.team-acco__pic {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  padding-left: 10px;
  margin-right: 23px; }

.team-acco__avatar {
  position: absolute;
  top: 50%;
  left: 46%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 100%; }

.menu {
  background-image: url("../img/background/menu/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative; }

.menu__title {
  font-family: 'Gagalin';
  font-size: 72px;
  font-weight: normal;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  left: 95px;
  top: 89px; }

.menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.menu__item {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .menu__item:hover .menu__content {
    width: 540px; }

.menu-meat {
  background-image: url("../img/background/menu/2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  width: 78px;
  height: 100%;
  position: relative; }

.menu-meat__content-title {
  font-family: 'Gagalin';
  font-weight: normal;
  font-size: 40px;
  color: #fff;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  display: inline-block;
  width: 81px;
  white-space: nowrap;
  position: absolute;
  top: 393px; }

.menu-vegan {
  background-image: url("../img/background/menu/3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  width: 80px;
  height: 100%;
  position: relative; }

.menu-vegan__content-title {
  font-family: 'Gagalin';
  font-weight: normal;
  font-size: 40px;
  color: #fff;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  display: inline-block;
  width: 5rem;
  white-space: nowrap;
  position: absolute;
  top: 407px; }

.menu-diet {
  background-image: url("../img/background/menu/4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  width: 65px;
  height: 100%;
  position: relative; }

.menu-diet__content-title {
  font-family: 'Gagalin';
  font-weight: normal;
  font-size: 40px;
  color: #fff;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  display: inline-block;
  width: 5rem;
  white-space: nowrap;
  position: absolute;
  top: 380px; }

.menu__content {
  width: 0;
  overflow: hidden;
  background: rgba(49, 52, 54, 0.93); }
  .menu__content .menu__content-text {
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    padding: 5% 5%;
    line-height: 30px; }

.section-order {
  background-image: url("../img/background/order.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.form-title {
  font-family: 'Gagalin';
  font-size: 72px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  color: #f9b43b;
  text-align: center;
  margin-bottom: 56px;
  padding-left: 17px; }

.container-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  padding-bottom: 100px; }

.form-order {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.form-left, .form-right {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.form-right {
  width: 500px; }

.input-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.input-form {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 14px;
  margin-bottom: 14px; }

.input-form__input {
  width: 100%;
  font-size: 1rem;
  padding: 6px;
  border-radius: 0.3125rem;
  background-color: #ffffff;
  border: 0.125rem solid transparent; }
  .input-form__input:focus {
    border-color: #e25028;
    outline: none; }

.input-form__comment {
  height: 6.8125rem;
  width: 100%;
  border-radius: 0.3125rem;
  border: 0.125rem solid transparent;
  background-color: #ffffff;
  resize: none;
  margin-bottom: 0.1875rem; }
  .input-form__comment:focus {
    border-color: #e25028;
    outline: none; }

.form-order__title {
  font-weight: 300;
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 8px; }

.input-form__radio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  cursor: pointer;
  margin-bottom: 9px; }

.input-form__radio-btn {
  display: none; }
  .input-form__radio-btn:checked + .input-form__radio-fake:before {
    display: block; }

.input-form__checkbox-btn {
  margin-right: 5px; }

.input-form__radio-fake {
  margin-right: 5px;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  border: 1px solid #ffffff;
  position: relative;
  cursor: pointer;
  display: inline-block;
  background-color: #ffffff; }
  .input-form__radio-fake:before {
    content: '';
    background: #e35028;
    display: none;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px; }

.btn-clear {
  background: none;
  min-width: 6.125rem;
  border: none;
  color: #ffffff;
  font-size: 14px;
  margin-left: 20px;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 17px; }
  .btn-clear:focus {
    border: none;
    outline: none; }
  .btn-clear:hover {
    background-color: #2f3234;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }

.input-form__checkbox-btn {
  display: none; }
  .input-form__checkbox-btn:checked + .input-form__checkbox-fake:before {
    display: block; }

.input-form__checkbox-fake {
  margin-right: 5px;
  display: inline-block;
  width: 14px;
  height: 15px;
  background-color: #ffffff;
  position: relative;
  vertical-align: bottom; }
  .input-form__checkbox-fake:before {
    content: "";
    width: 7px;
    height: 5px;
    border-bottom: 1.5px solid #e25028;
    border-left: 1.5px solid #e25028;
    display: none;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    left: 23%;
    top: 28%; }

.section-map {
  background: url("../img/background/map.jpg") no-repeat center center;
  background-size: cover;
  position: relative; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: url("../img/background/footer-bg.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 10px;
  padding-left: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .footer__address {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    margin-right: auto; }
  .footer__phone {
    padding-top: 10px; }
  .footer__phone_number {
    font-weight: bold;
    font-size: 14px;
    color: #e25028;
    text-decoration: none;
    position: relative; }
  .footer__phone-img {
    fill: #e35028;
    width: 12px;
    height: 11px;
    margin-right: 8px; }

.social__item {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 20px;
  cursor: pointer; }

.social__logo {
  fill: #595959; }
  .social__logo:hover {
    fill: #fff;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s; }
  .social__logo_vk {
    width: 23px;
    height: 13px; }
  .social__logo_fb {
    width: 20px;
    height: 20px; }
  .social__logo_inst {
    width: 20px;
    height: 20px; }
  .social__logo_tw {
    width: 20px;
    height: 16px; }
