
.best {
  background: url('../img/background/best-bg.jpg') no-repeat center center;
  background-size: cover;
  min-height: 650px;
  width: 100%;
  text-align: center;
}

.best-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.best__title {
  color: $dark;
  font-family: 'Gagalin';
  font-size: 72px;
  font-weight: normal;
}

.best__list {
  display: flex;
  justify-content: center;
}

.best__item {
  width: 33%;
}

.best__item-img {
  min-height: 45%;
}

.best__item-title {
  color: #2f3234;
  font-family: 'Lifehack';
  font-size: 24px;
  font-weight: normal;
}

.best__item-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
  margin: 0;
}
