
.best {
  background: url('../img/background/best-bg.jpg') no-repeat center center;
  background-size: cover;
  min-height: 650px;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.best__title {
  color: $dark;
  font-family: 'Gagalin';
  font-size: 72px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 62px;
  padding-left: 14px;
}

.best__list {
  display: flex;
  justify-content: center;
}

.best__item {
  width: 33%;
  margin-left: 17px;
}

.best__item-img {
  min-height: 39%;
  margin-bottom: 12px;
}

.best__item-title {
  color: #2f3234;
  font-family: 'Lifehack';
  font-size: 24px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

.best__item-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
}
