
.best {
  background: url('../img/background/best-bg.jpg') no-repeat center center;
  background-size: cover;
  min-height: rem(650px);
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.best-container {
  padding-bottom: rem(110px);
}

.best__title {
  color: $dark;
  font-family: 'Gagalin';
  font-size: rem(72px);
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  margin-bottom: rem(62px);
  padding-left: rem(14px);
}

.best__list {
  display: flex;
  justify-content: center;
  @include phones() {
    flex-direction: column;
    align-items: center;
  }
}

.best__item {
  width: 33%;
  margin-left: rem(17px);
  @include phones() {
    display: flex;
    flex-direction: row;
    width: 77%;
    margin-bottom: rem(20px);
  }
}

.best__item-about {
  @include phones() {
    text-align: left;
  }
}

.best__item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  @include phones() {
    margin-right: rem(20px);
  }
}

.best__pic {
  width: rem(92px);
  max-height: rem(100px);
  margin-bottom: rem(12px);
  &_meat {
    fill: #e25028;
  }
  &_hand {
    fill: #f9b43b;
  }
  &_natural {
    fill: #8ac03e;
    max-height: rem(75px);
    margin-bottom: rem(25px);
  }
}

.best__item-title {
  color: #2f3234;
  font-family: 'Lifehack';
  font-size: rem(24px);
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

.best__item-text {
  font-weight: 300;
  font-size: rem(14px);
  line-height: rem(25px);
}
