
.best {
  background: url('img/background/best-bg.jpg') no-repeat center center;
  background-size: cover;
  min-height: 650px;
  width: 100%;
  height: 100vh;
}

.best__title {
  text-align: center;
  padding-top: 60px;
  margin-bottom: 77px;
  color: $dark;
  font-family: 'Gagalin';
  font-size: 72px;
  padding-left: 16px;
}

.best__list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.best__item {
  text-align: center;
  width: 304px;
  margin-right: 21px;
}

.best__item-img {
  width: 46px;
  display: inline-block;
}

.best__item-title {
  display: inline-flex;
  color: #2f3234;
  font-family: 'Lifehack';
  font-size: 24px;
  padding-left: 39px;
  margin-bottom: 0;
}

.best__item-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
  padding-left: 12px;
}
