.top {
  background-image: url('../img/background/video-bg.jpg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 7px;
  padding-left: 4px;
}

.header__logo {
  margin-right: auto;
}

.header__logo-link {
  display: inline-block;
}

.header__btn {
  width: 97px;
  padding-left: 6px;
}

.navigation {
  margin-right: 10px;
}

.navigation__list {
  margin: 0;
  padding: 0;
}

.navigation__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  &:after {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    @include circle(5px, #fff);
    margin: 0 14px;
  }
  &:last-child:after {
    display: none;
  }
}

.navigation__link {
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  transition: .5s;
  &:hover {
    color: #f9b43b;
  }
}


.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}

.content {
  display: flex;
  flex: 1;
  justify-content: center;
  padding-bottom: 17%;
}

.content__img, .content__about {
  flex-basis: 50%;
  display: flex;
  margin-right: 32px;
}

.content__img {
  align-items: center;
  margin: 0 auto;
  padding-left: 23px;
}

.content__about {
  flex-direction: column;
  justify-content: center;
  padding-left: 13px;
}

.content__about-title {
  color: $yellow;
  font-family: 'Gagalin';
  font-size: 72px;
  font-weight: 400;
  line-height: 1.42;
  padding-top: 64px;
  margin-bottom: 5px;
  -webkit-font-smoothing: antialiased;
}

.content__about-text {
  color: #ffffff;
  font-family: 'Lifehack';
  font-size: 65px;
  font-weight: 500;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.arrow-next {
  position: absolute;
  top: 90%;
  left: 50%;
  &:hover .arrow-pic {
    transform: scale(1.5);
    transition: 1s;
  }
}