.top {
  background-image: url('../img/background/video-bg.jpg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: rem(7px);
  padding-left: rem(4px);
}

.header__logo {
  margin-right: auto;
}

.header__logo-link {
  display: inline-block;
}

.header__btn {
  width: rem(97px);
  padding-left: rem(6px);
  @include tablets() {
    padding-left: 0;
  }
}

.navigation {
  margin-right: rem(10px);
  @include tablets() {
    display: none;
  }
}

.navigation__list {
  margin: 0;
  padding: 0;
}

.navigation__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  &:after {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    @include circle(rem(5px), #fff);
    margin: 0 rem(14px);
  }
  &:last-child:after {
    display: none;
  }
}

.navigation__link {
  color: #ffffff;
  font-size: rem(13px);
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  transition: .5s;
  &:hover {
    color: #f9b43b;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}

.content {
  display: flex;
  flex: 1;
  justify-content: center;
  padding-bottom: 17%;

  @include tablets() {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 5%;
  }
}

.content__img, .content__about {
  flex-basis: 50%;
  display: flex;
  margin-right: rem(32px);

  @include tablets() {
    margin: 0;
  }
}

.content__img {
  align-items: center;
  padding-left: rem(23px);

  @include tablets() {
    padding: 0;
    margin-bottom: rem(35px);
  }
  @include phones() {
    width: 70%;
  }
}

.content__img-burger {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.content__about {
  flex-direction: column;
  justify-content: center;
  padding-left: rem(13px);

  @include tablets() {
    padding: 0;
    justify-content: center;
    align-items: center;
    padding-top: rem(20px);
  }
}

.content__about-title {
  color: $yellow;
  font-family: 'Gagalin';
  font-size: rem(72px);
  font-weight: 400;
  line-height: 1.42;
  padding-top: rem(64px);
  margin-bottom: rem(5px);
  -webkit-font-smoothing: antialiased;
  @include tablets() {
    padding-top: 0;
  }
}

.content__about-text {
  color: #ffffff;
  font-family: 'Lifehack';
  font-size: rem(65px);
  font-weight: 500;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  @include tablets() {
    width: rem(500px);
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

.arrow-next {
  position: absolute;
  top: 90%;
  left: 50%;
  &:hover .arrow-pic {
    transform: scale(1.5);
    transition: 1s;
  }
}