.menu {
  background-image: url('../img/background/menu/1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.menu__title {
  font-family: 'Gagalin';
  font-size: rem(72px);
  font-weight: normal;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  left: rem(95px);
  top: rem(89px);
}

.menu__list {
  display: flex;
}

.menu__item {
  height: 100%;
  position: relative;
  display: flex;
  &:hover {
    .menu__content {
      width: rem(540px);
      @include phones() {
        width: 100%;
      }
    }
  }
}

.menu-meat {
  background-image: url('../img/background/menu/2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  width: rem(78px);
  height: 100%;
  position: relative;
  cursor: pointer;
}

.menu-meat__content-title {
  font-family: 'Gagalin';
  font-weight: normal;
  font-size: rem(40px);
  color: #fff;
  transform: rotate(-90deg);
  display: inline-block;
  width: rem(81px);
  white-space: nowrap;
  position: absolute;
  top: rem(393px);
  @include tablets() {
    bottom: rem(50px) ;
    top: inherit;
  }
}

.menu-vegan {
  background-image: url('../img/background/menu/3.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  width: rem(80px);
  height: 100%;
  position: relative;
  cursor: pointer;

}

.menu-vegan__content-title {
  font-family: 'Gagalin';
  font-weight: normal;
  font-size: rem(40px);
  color: #fff;
  transform: rotate(-90deg);
  display: inline-block;
  width: 5rem;
  white-space: nowrap;
  position: absolute;
  top: rem(407px);
  @include tablets() {
    bottom: rem(50px);
    top: inherit;
  }
}

.menu-diet {
  background-image: url('../img/background/menu/4.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  width: rem(65px);
  height: 100%;
  position: relative;
  cursor: pointer;
}

.menu-diet__content-title {
  font-family: 'Gagalin';
  font-weight: normal;
  font-size: rem(40px);
  color: #fff;
  transform: rotate(-90deg);
  display: inline-block;
  width: 5rem;
  white-space: nowrap;
  position: absolute;
  top: rem(380px);
  @include tablets() {
    bottom: rem(50px);
    top: inherit;
  }
}

.menu__content {
  width: 0;
  overflow: hidden;
  background: rgba($black, .93);

  .menu__content-text {
    font-size: rem(14px);
    font-weight: 300;
    color: #ffffff;
    padding: 5% 5%;
    line-height: rem(30px);
  }
}