
.reviews {
  background: #000;
}

.reviews__list {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.reviews__item {
  width: 25%;
  height: 50%;
  position: relative;
  filter: grayscale(1);
  @include tablets() {
    width: 50%;
    height: 25%;
  }
}

.reviews__photo {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
.reviews__comment {
  display: none;
  padding: rem(20px) rem(33px) rem(20px) rem(20px);
}

.reviews__item:hover .reviews__comment {
  display: block;
  position: absolute;
  top: rem(46px);
  z-index: 9999;
  left: rem(23px);
  padding: 0;
  width: rem(319px);
  @include tablets() {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: rem(20px);
    left: 10%;
  }
  @include phones() {
    display: block;
    position: absolute;
    top: 1.875rem;
    z-index: 9999;
    padding: 0;
    width: 16.9375rem;
  }
  }


.reviews__item:hover .reviews__photo {
  filter: brightness(40%);
}

.reviews__comment-name {
  font-family: 'Gagalin';
  font-size: rem(14px);
  color: #ffffff;
  margin-bottom: rem(20px);
  display: block;
  @include phones() {
    position: absolute;
    top: 40px;
    left: 40px;
  }
  }


.reviews__comment-text {
  font-family: 'Ubuntu';
  font-size: rem(14px);
  color: #ffffff;
  margin-bottom: rem(17px);
  display: block;
  width: 70%;
  line-height: rem(24px);
  font-weight: 300;
  @include tablets() {
    margin-bottom: rem(10px);
    width: 100%;
    text-align: center;
  }
  @include phones() {
    display: none;
  }
}

.reviews__comment-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-family: Ubuntu;
  font-size: rem(13px);
  font-weight: 500;
  padding: rem(11px) rem(15px) rem(11px);
  border-radius: rem(5px);
  background-color: #2f3234;
  cursor: pointer;
  &:hover {
    background-color: #1f2122;
  }
  @include phones() {
    position: absolute;
    top: 70px;
    left: 50px;
  }
}

