
.reviews {
  width: 100%;
  min-height: 650px;
  height: 100vh;
}

.reviews__list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.reviews__item {
  width: 25%;
  height: 50vh;
  position: relative;
  filter: grayscale(1);

}

.reviews__photo {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
.reviews__comment {
  display: none;
  padding: 20px 33px 20px 20px;
}

.reviews__item:hover .reviews__comment {
  display: block;
  position: absolute;
  top: 46px;
  z-index: 9999;
  left: 23px;
  padding: 0;
  width: 319px;
}

.reviews__item:hover .reviews__photo {
  filter: brightness(50%);
}

.reviews__comment-name {
  font-family: 'Gagalin';
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 20px;
  display: block;
}

.reviews__comment-text {
  font-family: 'Ubuntu';
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 17px;
  display: block;
  width: 70%;
  line-height: 24px;
  font-weight: 300;
}

.reviews__comment-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-family: Ubuntu;
  font-size: 13px;
  font-weight: 500;
  padding: 11px 15px 11px;
  border-radius: 5px;
  background-color: #2f3234;
  cursor: pointer;
  &:hover {
    background-color: #1f2122;
  }
}

