.section-map {
  background: url('../img/background/map.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: url('../img/background/footer-bg.jpg') no-repeat center center;
  background-size: cover;
  padding-top: rem(10px);
  padding-left: rem(70px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  @include phones() {
    flex-direction: column;
    align-items: center;
  }

  &__address {
    font-size: rem(14px);
    font-weight: 300;
    color: #fff;
  }

  &__phone {
    padding-top: rem(10px);
    @include phones() {
      margin-bottom: rem(10px);
    }
  }

  &__phone_number {
    font-weight: bold;
    font-size: rem(14px);
    color: $orange;
    text-decoration: none;
    position: relative;
  }

  &__phone-img {
      fill: #e35028;
      width: rem(12px);
      height: rem(11px);
      margin-right: rem(8px);
    }

  &__left {
    @include phones() {
      text-align: center;
    }
  }
    }

.social {
  @include phones() {
    padding-left: rem(15px);
  }
}

.social__item {
  display: inline-flex;
  margin-right: rem(20px);
  cursor: pointer;
}

.social__logo {
  fill: #595959;
  &:hover {
    fill: #fff;
    transition: 0.8s;
  }
  &_vk {
    width: rem(23px);
    height: rem(13px);
  }
  &_fb {
    width: rem(20px);
    height: rem(20px);
  }
  &_inst {
    width: rem(20px);
    height: rem(20px);
  }
  &_tw {
    width: rem(20px);
    height: rem(16px);
  }
}
