.section-order {
  background-image: url('../img/background/order.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  @include tablets() {
    background-size: auto;
    display: flex;
    align-items: center;
  }
}

.form-title {
  font-family: 'Gagalin';
  font-size: rem(72px);
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  color: $yellow;
  text-align: center;
  margin-bottom: rem(56px);
  padding-left: rem(17px);
  @include phones() {
    padding-top: rem(40px);
  }
}

.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding-bottom: rem(100px);
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-order {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  @include tablets() {
    flex-direction: column;
    width: 66%;
    align-items: center;
  }
  @include phones() {
    width: 89%;
  }
}

.form-left, .form-right  {
  flex: 1;
}

.form-right {
  width: 100%;
  @include phones() {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.input-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.input-form {
  flex: 1;
  margin-right: rem(14px);
  margin-bottom: rem(14px);
}

.input-form__input {
  width: 100%;
  font-size: 1rem;
  padding: rem(6px);
  border-radius: 0.3125rem;
  background-color: #ffffff;
  border: 0.125rem solid transparent;
  &:focus {
    border-color: $orange;
    outline: none;
  }
}

.input-form__comment {
  height: 6.8125rem;
  width: 100%;
  border-radius: 0.3125rem;
  border: 0.125rem solid transparent;
  background-color: #ffffff;
  resize: none;
  margin-bottom: 0.1875rem;
  &:focus {
    border-color: $orange;
    outline: none;
  }
  @include phones() {
    max-width: rem(465px);
  }
}

.form-order__title {
  font-weight: 300;
  font-size: rem(14px);
  color: #ffffff;
  margin-bottom: rem(8px);
}

.input-form__radio {
  display: flex;
  margin-right: rem(20px);
  cursor: pointer;
  margin-bottom: rem(9px);
}

.input-form__radio-btn {
  display: none;
  &:checked + .input-form__radio-fake:before {
      display: block;
    }
  }


.input-form__checkbox-btn {
  margin-right: rem(5px);
}

.input-form__radio-fake {
  margin-right: rem(5px);
  width: rem(15px);
  height: rem(15px);
  border-radius: rem(50px);
  border: 1px solid #ffffff;
  position: relative;
  cursor: pointer;
  display: inline-block;
  background-color: #ffffff;
  &:before {
    content: '';
    background: #e35028;
    display: none;
    width: rem(7px);
    height: rem(7px);
    border-radius: 50%;
    position: absolute;
    top: rem(3px);
    left: rem(3px);
  }
}

.btn-clear {
  background: none;
  min-width: 6.125rem;
  border: none;
  color: #ffffff;
  font-size: rem(14px);
  margin-left: rem(20px);
  cursor: pointer;
  border-radius: rem(5px);
  padding: rem(10px) rem(17px);
  &:focus {
    border: none;
    outline: none;
  }
  &:hover {
    background-color: $dark;
    transition: .5s;
  }
}

.input-form__checkbox-btn {
  display: none;
  &:checked + .input-form__checkbox-fake:before {
    display: block;
  }
}

.input-form__checkbox-fake {
  margin-right: rem(5px);
  display: inline-block;
  width: rem(14px);
  height: rem(15px);
  background-color: #ffffff;
  position: relative;
  vertical-align: bottom;
  &:before {
    content: "";
    width: rem(7px);
    height: rem(5px);
    border-bottom: 1.5px solid $orange;
    border-left: 1.5px solid $orange;
    display: none;
    transform: rotate(-45deg);
    position: absolute;
    left: 23%;
    top: 28%;
  }
}

