.team {
  background-image: url('../img/background/team-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.team__right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: rem(525px);
  background: rgba($black, .93);
  text-align: center;
  @include tablets() {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.team__content {
  width: 100%;
}

.team-title {
  color: $yellow;
  text-transform: uppercase;
  font-family: 'Gagalin';
  font-size: rem(72px);
  font-weight: normal;
  margin-bottom: rem(59px);
  padding-top: rem(67px);
  padding-left: rem(80px);
  @include tablets() {
    padding-left: 0;
  }
}

.team-acco__title {
  font-family: 'Gagalin';
  font-size: rem(14px);
  font-weight: normal;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: left;
  margin-left: rem(75px);
  cursor: pointer;
  @include tablets() {
    margin-left: 0;
  }
  &:before {
    content: "";
    width: rem(0px);
    height: rem(0px);
    border: rem(7px) solid transparent;
    border-top-color: $yellow;
    border-bottom: none;
    margin-right: rem(10px);
  }
 }

.team-acco {
  @include tablets() {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.team-acco__content {
  padding-top: rem(10px);
  overflow: hidden;
  height: 0;
}

.team-acco__item {
  margin-bottom: rem(20px);
  width: 100%;
  @include tablets() {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &.active {
    .team-acco__content {
      height: auto;
      display: flex;
      margin-bottom: rem(40px);
      @include tablets() {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding-left: rem(15px);
      }
    }
    .team-acco__title {
      color: $yellow;
      &:before {
        transform: rotate(180deg);
      }
    }
  }
}

.team-acco__about {
  @include tablets() {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.team-acco__about-position {
  color: #fff;
  font-family: 'Ubuntu';
  font-weight: bold;
  font-size: rem(14px);
  text-align: left;
  margin-bottom: rem(14px);
}

.team-acco__about-text {
  color: #fff;
  font-weight: 300;
  max-width: 72%;
  text-align: left;
  font-size: rem(14px);
  line-height: rem(24px);
  @include tablets() {
    text-align: center;
    max-width: 73%;
  }
}

.team-acco__img {
  padding-left: 18%;
  @include tablets() {
    padding: 0;
    margin-bottom: rem(20px);
  }
}

.team-acco__pic {
  width: rem(100px);
  height: rem(100px);
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  padding-left: rem(10px);
  margin-right: rem(23px);
  @include tablets() {
    margin: 0;
  }
}

.team-acco__avatar {
  position: absolute;
  top: 50%;
  left: 46%;
  transform: translate(-50%, -50%);
  height: 100%;
  }
