.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.main-content {
  flex: 1;
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: 940px;
}

.section {
  height: 100vh;
  min-height: rem(650px);
  @include tablets() {
    min-height: rem(1024px);
  }
  @include phones() {
    min-height: rem(800px);
  }
  overflow: hidden;
}

.order {
  display: inline-block;
  min-width: 6.125rem;
  padding: rem(10px) rem(17px);
  border-radius: rem(5px);
  background-color: $orange;
  color: #fff;
  text-decoration: none;
  font-size: rem(13px);
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  border: none;
  cursor: pointer;
  &:focus {
    border: none;
    outline: none;
  }
  &:hover {
    background-color: #cb411b;
  }
}


.points {
  position: fixed;
  top: 14%;
  right: 3%;
  z-index: 10;
  @include tablets() {
    display: none;
  }
}

.points__list {
  list-style: none;
  width: 100%;
}

.points__item {
  padding: 6px 8px 9px;
}

.points__link {
  display: block;
  background-color: white;
  width: rem(6px);
  height: rem(6px);
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.points__link_active:before {
  content: "";
  display: block;
  border: 1px solid white;
  width: rem(16px);
  height: rem(16px);
  border-radius: 50%;
  position: absolute;
  cursor: default;
  top: -5px;
  left: -5px;
}

.points__link:hover:before {
  content: "";
  display: block;
  border: 1px solid white;
  width: rem(16px);
  height: rem(16px);
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: -5px;
}

.footer {
  min-height: rem(58px);
  flex: 0 0 auto;
  background: url('../img/background/footer-bg.jpg') no-repeat center center;
  background-size: cover;
  padding: rem(10px) rem(70px);

  &__address {
    font-size: rem(14px);
    font-weight: 300;
    color: #fff;
  }

  &__phone-number {
    font-weight: bold;
    font-size: rem(14px);
    color: $orange;
    text-decoration: none;
  }
}