.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
  min-height: 0;
}


.container {
  width: 940px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.section {
  height: 100vh;
  min-width: 940px;
  min-height: 650px;
}

.order {
  display: inline-block;
  min-width: 6.125rem;
  padding: 10px 17px;
  border-radius: 5px;
  background-color: $orange;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  &:hover {
    background-color: #cb411b;
  }
}


.points {
  position: fixed;
  top: 14%;
  right: 3%;
  z-index: 10;
}

.points__list {
  list-style: none;
  width: 100%;
}

.points__item {
  padding: 6px 8px 9px;
}

.points__link {
  display: block;
  background-color: white;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.points__link_active:before {
  content: "";
  display: block;
  border: 1px solid white;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  cursor: default;
  top: -5px;
  left: -5px;
}

.points__link:hover:before {
  content: "";
  display: block;
  border: 1px solid white;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: -5px;
}